
#slave ###
# Settings for MySQL server
[mysqld]
character-set-client-handshake=FALSE

log-bin=mysql-bin    #  add
server-id=2         #  add
relay-log=relaylog  #  add
log-slave_updates=1 #  add


## Character code/Collation settings
character_set_server=utf8mb4
collation_server=utf8mb4_bin

## Setting the default authentication plugin
default_authentication_plugin=mysql_native_password

# Setting mysql options
[mysql]
## Character code setting
default_character_set=utf8mb4

# mysql client tool settings
[client]
## Character code setting
default_character_set=utf8mb4
